#myRecord{
  padding: 0 20px;
  color: #b8babc;
  font-size: 14px;
}

#myRecord .line{
  height: 1px;
  background: rgba(255, 255, 255, .1);
}
#myRecord .title{
  font-size:16px;
  color: #fff;
  line-height: 43px;
}
#myRecord .match-title,#myRecord .guess-title,#myRecord .deal-title{
  padding:10px 30px;
  background: #333;
  height: 20px;
}
#myRecord .match-cont,#myRecord .deal-cont{
  padding:15px 30px;
  line-height: 36px;
  height: 36px;
  border-bottom: 1px solid #333;
}
#myRecord .match-cont .bold img{
  margin-right: 10px;
}
#myRecord .guess-cont{
  padding:15px 30px;
  height: 83px;
  border-bottom: 1px solid #333;
}
#myRecord .match-cont li:first-child span{
  display: inline-block;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-overflow: ellipsis;
}
#myRecord .matchTable li:first-child{
  width: 37%;
}
#myRecord .matchTable li:nth-child(2){
  width: 25%;
}
#myRecord .matchTable li:nth-child(3){
  width: 28%;
}
#myRecord a{
  color: #ffd100;
}
#myRecord a:hover{
  color: #ffd100;
}
#myRecord .bold{
  font-weight: bold;
  color: #fff;
}
#myRecord .guess-title li:nth-child(1){
  width:40%;
}
#myRecord .guess-title li:nth-child(2){
  width:20%;
}
#myRecord .guess-title li:nth-child(3){
  width:13%;
}
#myRecord .guess-title li:nth-child(4){
  width:12%;
}
#myRecord .guess-cont li:nth-child(1){
  width: 40%;
}
#myRecord .guess-cont li:nth-child(2){
  width: 30%;
}
#myRecord .guess-cont li:nth-child(3){
  width: 20%;
}
#myRecord .guess-cont li:nth-child(4){
  width: 13%;
}
#myRecord .guess-cont li:nth-child(5){
  width: 13%;
}
#myRecord .guess-cont li img{
  width: 35px;
  height: 35px;
}
#myRecord .battle .ellipsis{
  margin: 0 2px;
  display: inline-block;
  width: 38px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  text-overflow: ellipsis;
}
#myRecord .guess-cont .red{
  border:1px solid #f64747;
  border-radius: 50%;
}
#myRecord .guess-cont .blue{
  border:1px solid #3dc6ff;
  border-radius: 50%;
}
#myRecord .guess-cont .blueTeam{
  font-weight: bold;
  color: #3dc6ff;
}
#myRecord .guess-cont .redTeam{
  font-weight: bold;
  color: #f64747;
}
#myRecord .guess-cont .over{
  color: #666;
}
#myRecord .guess-cont .going{
  color: #b8babc;
}
#myRecord .guess-cont .win{
  color: #3fdc45;
}
#myRecord .guess-cont .lose{
  color: #f64747;
}
#myRecord .dealTable li:nth-child(1){
  width: 35%;
}
#myRecord .dealTable li:nth-child(2){
  width: 15%;
}
#myRecord .dealTable li:nth-child(3){
  width: 15%;
}

#myRecord .dealTable li:nth-child(4){
  width: 25%;
}
#myRecord .matchRecord .footer{
  margin-top: 20px;
}

#myRecord .exchangeShareBox{
  position: relative;
}
#myRecord .exchangeShare{
  position: absolute;
  width: 258px;
  height: 107px;
  z-index: 99;
  top: -100px;
  left: -160px;
  text-align: center;
  background: url("../../assets/image/personCenter/POPUP.png") center center /cover;
}
#myRecord  .code,#myRecord .text{
  width: 50%;
  float: left;
  height:90px;
  margin-top: 5px;
}
#myRecord  .text p{
  line-height: normal;
  margin-bottom: 10px;
}
#myRecord .el-tabs__content{
  overflow: initial;
}
#myRecord .matchShare{
  position: absolute;
  width: 258px;
  height: 107px;
  z-index: 99;
  top: -100px;
  left: -160px;
  text-align: center;
  background: url("../../assets/image/personCenter/POPUP.png") center center /cover;
}
#myRecord .matchShareBox{
  position: relative;
}
#myRecord .guessRecord .footer{
  margin-top: 30px;
}
